<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nrick.ongkur">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity android:name=".ImageProcessingCommunity"></activity>
        <activity android:name=".ScanPicture" />
        <activity android:name=".DailyGames2" />
        <activity android:name=".ResultPlane" />
        <activity android:name=".ScanPlane" />
        <activity android:name=".FeedSuccess" />
        <activity android:name=".GovernChild" />
        <activity android:name=".DailyGames" />
        <activity android:name=".NobinHome" />
        <activity android:name=".feed" />
        <activity android:name=".KURI" />
        <activity android:name=".PreVrWarning" />
        <activity android:name=".CompanionChooser" />
        <activity
            android:name=".SliderFour"
            android:theme="@style/AppTheme.FullScreen" />
        <activity android:name=".CatagoryChooser" />
        <activity
            android:name=".SliderThree"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".SliderTwo"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".SliderOne"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".Register"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".Home"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>